spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://192.168.200.136:3306/baf?useUnicode=true&allowPublicKeyRetrieval=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  redis:
    host: 127.0.0.1
    port: 6379
    password: 123456
    database: 0
    lettuce:
      pool:
        max-active: 32
        max-idle: 16
        min-idle: 8
    timeout: 3000ms
    connect-timeout: 3000ms

  mybatis:
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.example.entity
    configuration:
      map-underscore-to-camel-case: true
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

minio:
  endpoint: http://192.168.200.136:9000
  bucketName: baf
  accessKey: vQulpsLrq2qCy5orxttx
  secretKey: gtiiFqg3qyuYj1yU8F8zPSeozIzNWmIHt6rjzRVy
  secure: false

jwt:
  secret: OASNDASINQWMEAOSCNK
  expiration: 86400000
  issuer: lytoyo
