spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://192.168.200.136:3306/baf?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  redis:
    host: 192.168.200.136
    port: 6379
    password: 123456
    database: 0
    lettuce:
      pool:
        max-active: 20
        max-idle: 8
        min-idle: 2
        max-wait: -1ms
    timeout: 3000ms
    connect-timeout: 3000ms
  mybatis:
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.example.entity
    configuration:
      map-underscore-to-camel-case: true
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

email:
  config:
    from: "短趣视频团队"
    password: EYRxmzT4S6vjXUHh
    host: smtp.163.com
    port: 465
    user: 13414800914@163.com
    expire-time: 300
jwt:
  secret: OASNDASINQWMEAOSCNK
  expiration: 86400000
  issuer: lytoyo
